<!-- this is my users dashboard for them to make a post and view their own -->
<div class="row">
  <div class="col-auto">
    <h2></span>Welcome!</span></h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <input class="form-input" type="text" id="post-title" name="post-title" placeholder="Post Title" />
      </div>
      
      <div class="form-group">
        <textarea class="form-input" id="post-desc" name="post-desc" placeholder="Post Content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Make</button>
      </div>
    </form>
  </div>

  {{#if posts.length}}
  <div class="col-md-6 post-list">

    <!-- My users posts -->
    
    <h3>Current Posts:</h3>
     
  {{#each posts as |post|}}
{{> post-details}}

 <div class="col-md-4">
        <button type="click" class="btn btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
</div>

{{/each}}

  </div>
  {{/if}}
</div>

<script src="/js/dashboard.js"></script>